body {
  /*background: #c5cbe3;*/
  background: #f1f0eb;
  color: #646F6F;
}
.color-main {
  color: #F13C20;
}
.bg-main {
  background: #F13C20;
}

.color-secondary {
  color: #4056A1;
}
.bg-secondary {
  background: #4056A1;
}
