body {
  background: #F9F3C5;
  color: #646F6F;
}
.color-main {
  color: #87AAB9;
}
.bg-main {
  background: #87AAB9;
}

.color-secondary {
  color: #DE1B1B;
}
.bg-secondary {
  background: #DE1B1B;
}
