body {
   background: #f1f0eb !important;
   color: #646F6F;
}
.color-main {
   color: #F13C20;
}
.bg-main {
   background: #F13C20;
}

.color-secondary {
   color: #1C73AC;
}
.bg-secondary {
   background: #1C73AC;
}

/* Navigation */
.navigation {
   background: #F13C20;
   color: white;
}
.navigation ul {
   text-align: left;
   list-style-type: none;
   padding: 0;
   margin: 0;
}
.navigation li {
   display: inline-block;
}
.navigation a:hover {
   background: #bf2d17;
   border-bottom: white 4px solid;
}
.navigation a {
   display: block;
   text-decoration: none;
   color: inherit;
   font-weight: bold;
   margin: 0;
   padding: 8px 16px;
   border-bottom: transparent 4px solid;
}

/* Recipes */
/* .recipes {
    position: relative;
}
.new-recipe-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
}
.recipe-header {
    border-bottom: black 2px solid;
}
.ingredient {
    font-size: 14px;
    padding: 8px 4px;
}
.recipe {
    padding: 50px 0;
    border-bottom: #87AAB9 3px dotted;
}
.recipe-card {
    border: #c1c1c1 1px solid;
    width: 300px;
}
.recipe-card-footer {
    padding: 0 8px;
}
.recipe-card {
    border: #c1c1c1 1px solid;
    width: 300px;
}
.recipe-card-footer {
    padding: 0 8px;
} */